/* 

- Mobile: 375px
- Desktop: 1440px
- Font size (paragraph): 15px
- Weights: 400, 700

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 30%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
  background-color: var(--Very-Dark-Blue);

  font-family: "Overpass", sans-serif;
  height: 99.9vh;
  min-width: 100vw;
  position: relative;
}

.card {
  background: linear-gradient(var(--Dark-Blue) 50%, var(--Very-Dark-Blue));
  width: 23rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: var(--White);
  border-radius: 15px;
}
  h1 {
    font-weight: 400;
    margin-block: 15px;
    font-size: 1.7em;
  }
  p {
    font-size: 15px;
    color: var(--Light-Grey);
    line-height: 1.4;
    margin-block: 15px;
  }

.chose img,
 .chose span {
    border-radius: 50%;
    background-color: var(--Medium-Grey);
    padding: 15px;
    width: 50px;
  }
  #scores {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-block: 20px;
  }
  #scores > span:hover {
    background-color: var(--Light-Grey);
  }
  #scores > span,
  button {
    cursor: pointer;
    transition: 350ms;
  }
  button {
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    background-color: var(--main-color);
    border: none;
    border-radius: 15000px;
    padding: 10px;
    color: var(--White);
  }
  button:hover {
    background-color: var(--White);
    color: var(--main-color);
  }

.submit {
  background: linear-gradient(
    var(--Dark-Blue),
    var(--Very-Dark-Blue),
    var(--Dark-Blue)
  );
  text-align: center;
}
 .submit img {
    display: block;
    margin: 0 auto;
    margin-block: 15px;
    width: 140px;
  }
  #result {
    display: block;
    width: fit-content;
    font-weight: 400;
    background-color: var(--Medium-Grey);
    color: var(--main-color);
    padding: 5px 15px;
    border-radius: 1000px;
    margin: 30px auto;
  }

.nun {
  display: none;
}
